html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#vue_map {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* background-color: rgba(247, 223, 157, 0.89); */
}

#map { 
    grid-column: 1;
    grid-row: 1/3;
    position: relative;
}

#event_data_map_scroll_box {
    grid-column: 2;
    grid-row: 1/3;
}

#event_data_zoom_event_scroll_box {
    grid-column: 2;
    grid-row: 1;
}

#paragraph_data_scroll_box {
    grid-column: 2;
    grid-row: 2;
}

.bouton_1 {
    top: .5em;
    left: .5em;
}

.bouton_2 {
    top: .5em;
    left: 9em;
}

.bouton_3 {
    top: .5em;
    left: 17.5em;
}

.bouton_4 {
    top: .5em;
    left: 26em;
}

.open_form_button {
    height: 2em !important;
    width: 8em !important;
}

.popup {
    position: absolute; 
    background: white; 
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3); 
    white-space: nowrap;
}

.petit_popup {
    display: none; 
    padding: 5px; 
    border-radius: 5px;
    max-height: 10em;
}

.form {
    top: 3em; 
    left: 0.5em;
    z-index: 1000;
    display: block; 
    padding: 15px; 
    border-radius: 8px;
    max-height: 90%;
}

.center_popup {
    top: 0.5em; 
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000;
    display: block; 
    padding: 10px; 
    border-radius: 8px;
}

.back_button {
    width: 3em;
    height: 3em;
}

.flatpickr-input {
    width: 6em;
}

.input_number {
    width: 6em;
}

.color_input {
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.color_input::-moz-color-swatch {
    border-radius: 15px;
    border: none;
}

.layer-switcher {
    top: unset !important;
    bottom: 4em;
}

.layer-switcher.shown.layer-switcher-activation-mode-click > button {
    left: unset !important;
    bottom: 0;
}

.layer-switcher li {
    display: grid;
    align-items: center;
}

.layer-switcher li label {
    padding-left: 1.5em !important;
}

.layer-switcher li input {
    left: unset !important;
}

#affichage_localisation_div {
    top: .5em;
    right: .5em;
}

.ol-scale-line {
    left: unset;
    right: 2.5em;
}

.ol-zoom {
    top: unset;
    left: unset;
    bottom: .5em;
    right: .5em;
}

ul {
    margin: 5px !important;
    padding-left: 10px !important;
}

.title {
    font-weight: bold;
}

.margin {
    margin: 10px;
}

.margin_left {
    margin-left: 10px;
}

.padding {
    padding: 10px;
}

.largeur_min {
    min-width: 20em;
}

.largeur_auto {
    width: 100%;
}

.flexrow {
    display: flex;
    flex-direction: row;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
}

.space_evenly {
    justify-content: space-evenly;
}

.space_between {
    justify-content: space-between;
}

.vertical_center {
    display: grid; 
    place-items: center; 
}

.scroll_box {
    overflow: scroll;
}
